examples/OpenTelemetry.json
[
  {
    "id": "f6f2187d.f172e8",
    "type": "tab",
    "label": "OpenTelemetry Example",
    "disabled": false,
    "info": "This flow demonstrates tracing behavior only. Configure the runtime plugin in settings.js (see examples/opentelemetry.settings.example.js)."
  },
  {
    "id": "1",
    "type": "inject",
    "z": "f6f2187d.f172e8",
    "name": "Trigger Trace",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"test\":\"data\"}",
    "payloadType": "json",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "2"
      ]
    ]
  },
  {
    "id": "2",
    "type": "function",
    "z": "f6f2187d.f172e8",
    "name": "Processing Step",
    "func": "msg.payload.processed = true;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 180,
    "wires": [
      [
        "3"
      ]
    ]
  },
  {
    "id": "3",
    "type": "debug",
    "z": "f6f2187d.f172e8",
    "name": "Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 180,
    "wires": []
  }
]
